<!-- <p style="text-align: center;">homepage works!</p> -->

<body >
  <div id="test" class="main-content">
    <div class="container">
        <div class="matter">
            <div class="main-heading">
            <h1>Make Your</h1>
            <h1>Shopping Easy</h1><br>
            <p>save time shop easy</p>
            <img  continousrotateInAnimation src="../../assets/foodball-removebg-preview.png" width="100px" height="100px">
            <div   class="discount" style="text-align: center;">
            <b>UPTO 70% OFF</b>
            </div>
            </div>
        </div>
        <div class="image" style="display: flex;flex-direction: row;">
            <img   fadeInAnimation 
            src="../../assets/undraw_Designer_girl_s028.svg" width="400px" height="400px" >
            <!-- <img src="../../assets/blob (2).svg"> -->
            <!-- <a style="width: 400px;height: 400px;" href='https://www.freepik.com/vectors/shopping'>Shopping vector created by stories - www.freepik.com</a> -->
        </div>
    </div>
    <h1 fadeInAnimation
    [duration]="1"
    [delay]="1"  style="text-align: center;">Catch the best deals</h1>
    <div class="cards" bounceInAnimation
    [duration]="2"
    [delay]="2">
        <mat-card >
          
            <img  class="image" mat-card-image src="../../assets/fashion.jpg" >
            <mat-card-content>
              <p style="text-align: center;">
                  <b>Flat 50% off</b>
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card >
            <img  class="image" mat-card-image src="../../assets/laptop.jpg" >
            <mat-card-content>
              <p style="text-align: center;">
                  <b>Flat 50% off</b>
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card >
            <img class="image" mat-card-image src="../../assets/sofa.jpg" >
            <mat-card-content>
              <p style="text-align: center;">
                  <b>Flat 50% off</b>
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card >
            <img class="image" mat-card-image src="../../assets/bed.jpg" >
            <mat-card-content>
              <p style="text-align: center;">
                  <b>Flat 50% off</b>
              </p>
            </mat-card-content>
          </mat-card>
    </div>
    <h1 style="text-align: center;">Top Categeroes</h1>
    <div class="cards-top">
        <mat-card >
            <img class="image" mat-card-image src="../../assets/model2.jpg" >
            <mat-card-content>
              <p style="text-align: center;">
                  <b>Flat 50% off</b>
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card >
            <img class="image" mat-card-image src="../../assets/model1.jpg" >
            <mat-card-content>
              <p style="text-align: center;">
                  <b>Flat 50% off</b>
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card >
            <img class="image" mat-card-image src="../../assets/model44.jpg" >
            <mat-card-content>
              <p style="text-align: center;">
                  <b>Flat 50% off</b>
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card >
            <img class="image" mat-card-image src="../../assets/model66.jpg" >
            <mat-card-content>
              <p style="text-align: center;">
                  <b>Flat 50% off</b>
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card >
            <img class="image" mat-card-image src="../../assets/model55.jpg" >
            <mat-card-content>
              <p style="text-align: center;">
                  <b>Flat 50% off</b>
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card >
            <img class="image" mat-card-image src="../../assets/model33.jpg" >
            <mat-card-content>
              <p style="text-align: center;">
                  <b>Flat 50% off</b>
              </p>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="selling">
      <h1 style="text-align: center;">Sell your product easily</h1>
      <img src="../../assets/sell.jpg" width="100%" height="500px">
      <button routerLink="/sell">Sell</button>
    </div>
</div>
</body>