<!-- <p>gift works!</p> -->
<body>
    <div class="giftmain">
        <div class="image-section">
            <div class="sub">
            <img class="image" src="../../assets/kids.jpg"  width="100px" height="100px">
            <div class="text"><b>Kids</b></div>
            </div>
            <div class="sub">
            <img class="image" src="../../assets/lady.jpg"  width="100px" height="100px">
            <div class="text"><b>Women</b></div>

            </div>
            <div class="sub">
            <img class="image" src="../../assets/model1.jpg"  width="100px" height="100px">
            <div class="text"><b>Men</b></div>

            </div>
            <div class="sub">
            <img class="image" src="../../assets/gift.jpg" width="100px" height="100px">
            <div class="text"><b>Gifts</b></div>

            </div>


            
        </div>
    </div>
    <div class="cards-section">
        <div class="card">
          <div class="image">
            <img src="../../assets/hairdyrer.jpg" width="250px" height="250px">
          </div>
          <div class="rate">
            original price:<del>5000</del>&nbsp;&nbsp;
            discount:20%<br>
            price:1000
          </div>
          <div class="symbols">
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
             <mat-icon>shopping_bag</mat-icon>
           </button>
          </div>
        </div>

 


        
    </div>
</body>