<body  class="cloud">
    <!-- <p>login works!</p> -->
<div class="form example-form">
    <form [formGroup]="forgetpasswordform" (ngSubmit)="Onsubmit()">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label class="label">Email</mat-label>
            <input matInput class="textbox" formControlName="email">
            <!-- <mat-error *ngIf="!loginForm.get('email').valid">{{emailErrorMessage()}}</mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label class="label">Password</mat-label>
            <input matInput class="textbox"  formControlName="password">
          </mat-form-field>
        <br>
        <div class="signbuttons">
            <button mat-button class="mainbtn" type="submit" [disabled]="!forgetpasswordform.valid">Submit</button>
        </div>
    </form>
</div>

</body>